/* Variables______________________________________________________________________________________ */
:root{
    /* Color */
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #00c174;
    --bs-teal: #20c997;
    --bs-cyan: #17a2b8;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #5d5d5d;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #28a745;
    --bs-info: #17a2b8;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #cdcdcdcd;
    --bs-dark: #222;
    --bs-yellow-storie: #face05;
    --bs-black: #000000;
    --bs-green-dark: #0d8956;
    --bs-light-grey: #e9e9e9;
    /* Font Family */
    --bs-font-sans-serif: 'Segoe UI', Roboto, 'Helvetica Neue', Arial , 'Open Sans', sans-serif;
    --bs-font-monospace: 'Courier New', monospace;
}

/* root______________________________________________________________________________________ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
}

/* header______________________________________________________________________________________ */
.page-header{
    padding-left: 18px;
    height: 95px;
    background-color: var(--bs-black);
    font-family: var(--bs-font-sans-serif);
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
}

.page-header .container-logo .logo img{
    width: 120px;
}

.header-stories{
    padding-left: 28px;
}

.header-stories__list{
    list-style: none;
    display: flex;
}

.header-stories__list .list-storie{
    width: 13.33vw;
    max-width: 90px;
    margin-right: 6.25px;
}

.header-stories__list .list-storie a{
    width: inherit;
    color: var(--bs-white);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-storie a img{
    width: 46px;
    padding: 4px;
    border: var(--bs-yellow-storie) 2px solid;
    border-radius: 50%;
}

.list-storie a .name-storie{
    width: inherit;
    margin-top: 6px;
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-storie a .name-storie strong{
    font-weight: 300;
    font-size: 14px;
}

/* main______________________________________________________________________________________ */

/* floating menu______________________________________________________________________________________ */
.floating-menu{
    position: fixed;
    bottom: 130px;
    right: 10px;
    z-index: 100;
}

.floating-menu__container{
    width: 54px;
    height: 54px;
    background-color: var(--bs-white);
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 1000;
}

.floating-menu__container img{
    width: 54px;
    height: 54px;
}

/* Principal section______________________________________________________________________________________ */
.page-main{
    width: 100%;
}

.main-principalSection .article-principal{
    height: 220px;
    position: relative;
    display: flex;
}

.article-principal__figure{
    height: inherit;
    overflow: hidden;
}

.article-principal__figure a{
    height: inherit;
}

.article-principal__figure a img{
    width: 100%;
    object-fit: cover;
}

.article-principal__header{
    width: 100%;
    height: 114px;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    border-bottom: 5px solid var(--bs-green-dark);
    background: linear-gradient(180deg,rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.747));
}

.article-principal__tittle{
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 700;
    line-height: 21px;
    position: relative;
}

.article-principal__tittle p{
    color: var(--bs-white);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.article-principal__tittle a{
    text-decoration: none;
    color: var(--bs-white);
}

/* secondary section______________________________________________________________________________________ */
.article-secondary{
    padding: 0 10px;
    margin: 10px 0;
    display: flex;
    overflow: hidden;
}

.article-secondary__figure{
    width: 100px;
    height: 100px;
}

.article-secondary__figure a{
    width: inherit;
}

.article-secondary__figure a img{
    width: inherit;
    object-fit: cover;
}

.article-secondary__header{
    padding-left: 15px;
}

.article-secondary__tittle{
    height: 100%;
    line-height: 17.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

.topic-article{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: var(--bs-green);
}

.news-article{
    text-decoration: none;
    color: var(--bs-black);
}

.separation-news{
    height: 2px;
    width: 100%;
    background-color: var(--bs-light-grey);
}

/* advertising section______________________________________________________________________________________ */
.main-advertising{
    margin-top: 30px;
}

.main-advertising__figure{
    height: 160px;
    overflow: hidden;
    position: relative;
}

.main-advertising__figure a{
    height: inherit;
    text-decoration: none;
}

.main-advertising__figure a img{
    height: auto;
    width: 100%;
}

.main-advertising__figure a .logo_advertising{
    width: 140px;
    height: 43.86px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-advertising__content{
    text-align: center;
    padding: 16px 15px 30px;
    border-bottom: var(--bs-light) 1px solid;
}

.advertising-content__span{
    width: 100%;
    margin-bottom: 10px;
    display: block;
    color: var(--bs-green);
    font-size: 1.1rem;
    font-family: Helvetica;
    font-weight: 700;
}

.advertising-content__tittle{
    font-size: 21px;
    font-weight: 900;
    line-height: 22px;
    font-family: Helvetica;
}

.advertising-content__tittle a{
    color: var(--bs-black);
    cursor: pointer;
    text-decoration: none;
}

.advertising-content__text{
    margin-top: 10px;
    font-size: 13px;
    font-family: Helvetica;
    line-height: 16px;
    
}

.advertising-content__text a{
    color: var(--bs-black);
    text-decoration: none;
}

/* gallery section______________________________________________________________________________________ */
.main-gallery{
    background-color: var(--bs-dark);
    color: var(--bs-white);
    padding: 30px 0 20px;
    border-top: var(--bs-green) 5px solid;
}

.main-gallery__title{
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.gallery-title__figure img{
    width: 40px;
}

.gallery-title__text{
    margin-left: 7px;
    font-size: 23px;
    font-family: Helvetica;
    font-weight: 700;
}

.main-gallery__carousel{
    margin-top: 10px;
    height: 275px;
    align-items: center;
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.carousel-news{
    margin: 0 15px;
    width: 260px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.carousel-news__images{
    margin: 0;
    width: 100%;
    position: relative;
}

.news-images__figure img{
    width: 260px;
}

.news-images__number{
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(1,0,0,.8);;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.images-number__figure img{
    width: 22px;
    margin-right: 6px;
}

.images-number__text{
    color: var(--bs-white);
    font-weight: 700;
    font-size: 12px;
}

.carousel-news__text{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: Helvetica;
    line-height: 19px;
    color: var(--bs-white);
}