*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial , 'Open Sans', sans-serif;
}

.page-header{
    padding-left: 18px;
    height: 95px;
    background-color: #08090A;
    display: flex;
    align-items: center;
}

.container-logo .logo img{
    width: 120px;
}

.nav-list .list-item a{
    text-decoration: none;
}

.nav-list {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.header-nav .nav-list .list-item{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.header-nav .nav-list .list-item:hover{
    background-color: #777;
}