*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial , 'Open Sans', sans-serif;
}

.page-header{
    padding-left: 18px;
    height: 95px;
    background-color: #08090A;
    display: flex;
    align-items: center;
}

.container-logo .logo img{
    width: 120px;
}

.header-nav{
    white-space: nowrap;
    overflow-x: auto;
    padding: 20px;
}

.nav-list{
    display: flex;

}

.nav-list .list-item a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}